/*Não tive tempo de tornar totalmente responsivo*/
.container {
    padding: .5rem;
    padding-top: 1rem;
    background-color: #1E1E2D;
    color: white;
    display: flex;
    height: 100%;
    width: 100vw;
}
section {
    flex: 1;
}
aside {
    flex: 6;
    margin-left: 0.3rem;
}
.secoes {
    display: flex;
    background: -webkit-linear-gradient(90deg, #ba54f5 0%, #e14eca 100%);
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0.3rem;
    max-width: 13rem;
    height: 100vh;
    margin-right: 0.3rem;
}
.secoes a:first-child {
    align-self: center;
    color: #FEFEFE;
    padding-top: 1.5rem;
    padding-bottom: 1.4rem;
    border-bottom: 1px solid #EBA7E9;
}
.secoes p {
    text-align: center;
    padding: 1rem;
}
.secoes a {
    color: #FEFEFE;
    padding: 1.5rem;
    text-decoration: none;
    display: flex;
}
.secoes a img {
    padding-right: 1rem;
}
table {
    border-collapse: collapse;
    background-color: #27293D;
    border-radius: 0.3rem;
}
table td, th {
    border-bottom: 1px solid #323447;
    text-align: center;
    word-break: break-all;
    font-size: 12pt;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
tr {
    padding: 1rem;
}
table input {
    max-width: 9rem;
    word-wrap: break-word;
    word-break: break-all;
}
table td input[type="text"] {
    text-align: center;
    background-color: #27293D;
    border: none;
    max-width: 9rem;
}
table td input[type="text"]:focus,
table td input[type="text"]:hover{
    background-color: #323447;
    outline: none;
}
form button {
    display: block;
    margin-left: auto;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    background: -webkit-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
}
button {
    cursor: pointer;
}
.capa_miniatura {
    width: 20%;
    height: 10%;
}

@media screen and (max-width:1000px) {
    .container {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    section {
        flex: 1;
        align-self: center;
    }
    aside {
        width: 100vw;
        flex: 1;
    }
    .secoes {
        width: 100vw;
        height: auto;
    }
}